.about-content {
  position: relative;
  padding: 83px 0 288px;

  @media (min-width: @bpTablet) {
    padding-top: 77px;
    padding-bottom: 7px;
  }

  @media (min-width: @bpDesktop) {
    padding-top: 6px;
  }

  &::before {
    .setBg("", 0, 0, 0, 0);
    border-right: 100vw solid #f2f2f2;
    border-top: 32px solid transparent;
    z-index: -1;

    @media (min-width: @bpTablet) {
      border-top-width: 54px;
    }

    @media (min-width: @bpDesktop) {
      border-top-width: 98px;
    }
  }
}
