.content-list {
  padding: 0 20px;
  list-style: none;
  background-color: @bgPrimaryColor;

  .resetMargin;
}

.content-list__item-title {
  margin: 0 0 12px;
  .resize(font-size, 18, 18, 30);
  .resize(line-height, 24, 24, 30);
}

.content-list__item-text {
  margin: 0 0 31px;
}

.content-list__item {
  &:last-child {
    &::before {
      .setBg("", false, 0, 0, 0, 157, 278, "../img/iphone-screen-3-mobile.png");
      margin: auto;
    }

    .content-list__item-text {
      margin-bottom: 41px;
    }
  }
}
