.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;

  .footer__logo {
    margin-bottom: 21px;

    &:hover {
      fill: @brightColor;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .footer__copyright {
    display: flex;
    align-items: center;
    margin: 28px auto 0;
    line-height: 16px;
  }
}
