.map {
  position: relative;
  min-height: 200px;
  background: url("../img/map-mobile@1x.jpg") no-repeat;
  background-size: cover;
  overflow: hidden;

  &::before {
    .setBg("", 0, false, false, false, 0, 0);
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
    border-top: 33px solid @lightColor;

    @media (min-width: @bpTablet) {
      border-top-width: 68px;
    }

    @media (min-width: @bpDesktop) {
      border-top-width: 103px;
    }
  }

  &::after {
    .setBg("", calc(50% - 5px), false, false, calc(50% - 18px), 36, 36);
    background-color: @brightColor;
    border: 10px solid @lightColor;
    border-radius: 50%;
    box-sizing: border-box;

    @media (min-width: @bpTablet) {
      top: calc(50% + 7px);
    }

    @media (min-width: @bpDesktop) {
      top: calc(50% + 13px);
    }
  }

  @media (min-resolution: 1.5dppx) {
    background-image: url("../img/map-mobile@2x.jpg");
  }

  @media (min-width: @bpTablet) {
    min-height: 374px;
    background-image: url("../img/map-tablet@1x.jpg");
    background-size: cover;
  }

  @media (min-width: @bpTablet) and (min-resolution: 1.5dppx) {
    background-image: url("../img/map-tablet@2x.jpg");
  }

  @media (min-width: @bpDesktop) {
    min-height: 502px;
    background-image: url("../img/map-desktop@1x.jpg");
    background-size: cover;
  }

  @media (min-width: @bpDesktop) and (min-resolution: 1.5dppx) {
    background-image: url("../img/map-desktop@2x.jpg");
  }
}
