.modal {
  display: none;
  .resize(max-width, false, 460, 780);
  width: 100%;
  padding: 41px 0 0;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  background: @lightColor;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  border-radius: 5px;

  &--error {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;

    .modal__message {
      .resize(margin-bottom, false, 33, 63);
    }

    .modal__button-wrapper {
      @media (min-width: @bpDesktop) {
        background-color: @bgPrimaryColor;
      }
    }

    .modal__button {
      max-width: 300px;
      .resize(margin-bottom, false, 52, 0);
    }
  }

  &--success {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;

    .modal__button-wrapper {
      padding: 50px 80px 50px 81px;
      background-color: @bgPrimaryColor;

      @media (min-width: @bpDesktop) {
        padding: 50px 160px;
      }
    }
  }
}

.modal__title {
  .resize(max-width, false, 250, 400);
  width: 100%;
  margin: 0 auto 22px;
  color: @darkColor;
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
}

.modal__message {
  .resize(max-width, false, 320, 400);
  width: 100%;
  margin: 0 auto 30px;

  @media (min-width: @bpDesktop) {
    margin-bottom: 39px;
  }
}

.modal__button-wrapper {
  @media (min-width: @bpDesktop) {
    padding: 50px 160px;
  }
}

.modal__button {
  width: 100%;
  margin: 0 auto;
  padding: 19.5px 20px;
  font-size: 18px;
  font-weight: 700;
  color: @lightColor;
  background-color: @btnColor;
  border: 2px solid @btnColor;
  border-radius: 4px;
  text-transform: uppercase;
  box-sizing: border-box;
}
