.nav-toggle {
  display: none;
  background-color: transparent;
  cursor: pointer;
  border: none;
  padding: 18px 20px 24px;

  &:hover {
    .nav-toggle__icon {
      fill: @brightColor;
    }
  }

  &:focus {
    outline: 1px dashed @lightColor;
    outline-offset: -1px;
  }

  &:active {
    .nav-toggle__icon {
      opacity: 0.3;
    }
  }

  @media (min-width: @bpTablet) {
    padding-top: 24px;
  }
}

.nav-toggle__icon {
  fill: @lightColor;
}

.header--closed {
  .nav-toggle {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    @media (min-width: @bpDesktop) {
      display: none;
    }
  }

  .nav-toggle__icon {
    &--close {
      display: none;
    }
  }
}

.header--opened {
  .nav-toggle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 22px 20px;

    @media (min-width: @bpTablet) {
      padding: 22px 40px;
    }
  }

  .nav-toggle__icon {
    &--open {
      display: none;
    }

    @media (min-width: @bpDesktop) {
      display: none;
    }
  }
}
