.photo-list {
  .resize(max-width, 320, 660, 960);
  padding: 0;
  list-style: none;

  .centered;

  @media (min-width: @bpTablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.photo-list__item {
  margin-bottom: 20px;
  padding: 0 20px;

  @media (min-width: @bpTablet) {
    display: flex;
    flex-direction: column;
    flex-basis: 300px;
    margin-top: 20px;
    margin-bottom: 0;
    padding: 0 10px;
  }

  @media (min-width: @bpDesktop) {
    margin-bottom: 34px;
  }

  &--of-day {
    display: flex;
    padding: 0;

    @media (min-width: @bpTablet) {
      flex-basis: 100%;
      margin-top: 0;
      margin-bottom: 30px;
    }

    .photo-list__item-link {
      position: absolute;
      left: 0;
      right: 0;
      display: block;
      .resize(height, 137, 509, 506);

      &::after {
        .setBg("ПАНОРАМА ДНЯ", 0, calc(50% - 140px), false, false, 140, 36);
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: @brightColor;
        color: @lightColor;
        font-size: 12px;
        font-weight: 700;

        @media (min-width: @bpTablet) {
          top: 57px;
          right: calc(50% - 310px);
        }

        @media (min-width: @bpDesktop) {
          top: 54px;
          right: calc(50% - 470px);
        }
      }
    }
  }
}

.photo-list__item-link {
  display: block;
  .resize(height, 180, 300, 400);

  &:focus {
    outline-offset: -1px;
  }
}

.photo-list__item-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
