.price-package {
  padding: 18px 20px 36px;
  background: @baseColor;
  color: @lightColor;
  line-height: 1;

  @media (min-width: @bpTablet) {
    padding-top: 20px;
    padding-bottom: 15px;
    border-right: 1px solid @lightColor;
    border-left: 1px solid @lightColor;

    &:nth-child(2) {
      border-left: 2px solid @baseColor;
      border-top-left-radius: 4px;
    }

    &:last-child {
      border-right: 2px solid @baseColor;
      border-top-right-radius: 4px;
    }
  }

  @media (min-width: @bpDesktop) {
    padding-top: 22px;
    padding-bottom: 25px;
  }

  &--hit {
    position: relative;

    &::before {
      .setBg("", 17px, false, false, -27px, 60, 0);
      border-right: 24px solid transparent;
      border-bottom: 24px solid @brightColor;
      border-left: 24px solid transparent;
      transform: rotate(-45deg);

      @media (min-width: @bpTablet) {
        top: 13px;
        left: -19px;
        width: 45px;
        border-width: 19px;
      }

      @media (min-width: @bpDesktop) {
        top: 17px;
        left: -23px;
        width: 58px;
        border-width: 23px;
      }
    }

    &::after {
      .setBg("ХИТ", 12px, false, false, 22px, false, false);
      font-size: 14px;
      font-weight: normal;
      transform: translateX(-8px) translateY(10px) rotate(-45deg);

      @media (min-width: @bpTablet) {
        top: 8px;
        left: 15px;
      }

      @media (min-width: @bpDesktop) {
        top: 13px;
        left: 22px;
      }
    }
  }
}

.price-package__name {
  margin: 0 0 10px;
  .resize(font-size, 16, 16, 18);
}

.price-package__value {
  margin: 0;
  .resize(font-size, 18, 18, 24);
  font-weight: 300;
}
