.price {
  position: relative;
  padding: 107px 0 0;
  overflow: hidden;

  &::before {
    .setBg(15px, 0, -15px, 0);
    background-color: @bgPrimaryColor;
    transform: skewY(-3deg);
    z-index: -1;
  }
}
