.price-table {
  width: calc(300% - 116px);
  border-collapse: collapse;
  line-height: 30px;
  text-transform: uppercase;

  &--centered {
    margin: 0 auto;
    transform: translateX(calc(-33.33333% + 20px));

    @media (min-width: @bpTablet) {
      transform: none;
    }
  }

  @media (min-width: @bpTablet) {
    table-layout: fixed;
    max-width: 620px;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
  }

  @media (min-width: @bpDesktop) {
    max-width: 942px;
  }
}

.price-table__row {
  background-color: @lightColor;

  &:first-of-type {
    @media (min-width: @bpTablet) {
      .price-table__col {
        border-top: 0;
      }
    }
  }

  &:last-of-type {
    .price-table__head:first-child,
    .price-table__col {
      @media (min-width: @bpTablet) {
        border-bottom: 2px solid @borderColor;
      }
    }
  }
}

.price-table__head {
  background-color: @bgPrimaryColor;
  border-right: 2px solid @bgPrimaryColor;

  &:first-child {
    display: none;
    border-right: none;

    @media (min-width: @bpTablet) {
      display: table-cell;
    }
  }

  @media (min-width: @bpTablet) {
    min-width: 105px;
  }
}

.price-table__col {
  position: relative;
  padding: 13px 20px 15px;
  border: 2px solid @borderColor;

  @media (min-width: @bpTablet) {
    padding: 8px 16px 7px;
    text-transform: none;
    border-width: 1px;
  }

  @media (min-width: @bpDesktop) {
    padding: 13px 22px 16px;
  }

  &:first-child {
    display: none;

    @media (min-width: @bpTablet) {
      display: table-cell;
      border-left-width: 2px;
    }
  }

  &:last-child {
    @media (min-width: @bpTablet) {
      border-right-width: 2px;
    }
  }

  &--yes {
    &::before {
      .setBg("", 18px, 19px, false, false, 31, 21, "../img/icons/yes.svg");

      @media (min-width: @bpTablet) {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
      }
    }
  }

  &--no {
    &::before {
      .setBg("", 16px, 21px, false, false, 27, 27, "../img/icons/no.svg");

      @media (min-width: @bpTablet) {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
      }
    }
  }
}

.price-table__col-name {
  @media (min-width: @bpTablet) {
    display: none;
  }
}
