.promo {
  margin-top: -66px;
  padding-top: 66px;
  background: @baseColor url("../img/bg-back-mobile.jpg") no-repeat;
  color: @lightColor;

  &-title {
    margin: 0;
    padding: 25px 20px 28px;
    .resize(font-size, 24, 40, 50);
    .resize(line-height, 28.8, 48, 68.09);
    font-weight: 300;
    text-align: center;
  }

  &-picture__img {
    display: block;
  }

  &-content {
    padding: 28px 20px 21px;
    background-color: @bgBaseColor;
    text-align: center;

    &__button {
      display: inline-flex;
      padding: 16px 35px 16px 36px;
      border: 3px solid @lightColor;
      box-sizing: border-box;
      border-radius: 29px;
      color: @lightColor;
      font-weight: bold;
      font-size: 18px;
      line-height: 18px;

      &:hover {
        background-color: @lightColor;
        color: @brightColor;
      }

      &:focus {
        outline: 1px dashed @lightColor;
        outline-offset: 2px;
      }

      &:active {
        color: rgba(@brightColor, 0.3);
      }
    }

    &__text {
      margin: 0 auto 10px;
      font-weight: 300;
    }

    .marketplace-list {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      margin: 32px 0 4px;
      padding: 0;
      list-style: none;

      &__item {
        margin: 0 17.5px 10px;

        &-link {
          display: inline-flex;

          &:focus {
            outline: 1px dashed @lightColor;
            outline-offset: 3px;
          }
        }
      }
    }
  }
}
