.promo-title {
  .resize(width, 300, 620, 940);
  padding: 24px 20px 30px;
  .resize(font-size, 24, 40, 50);
  .resize(line-height, 28.8, 48, 68.09);
  font-weight: 300;
  text-align: center;
  box-sizing: border-box;

  .centered;

  @media (min-width: @bpTablet) {
    padding: 94px 350px 20px 30px;
  }

  @media (min-width: @bpDesktop) {
    padding-top: 100px;
    padding-right: 670px;
  }
}
