.promo {
  position: relative;
  display: flex;
  flex-direction: column;
  .resize(padding-top, 66, 110);
  background: @baseColor url("../img/bg-back-mobile.jpg") no-repeat;
  color: @lightColor;

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 286px;
    background: url("../img/iphone-hand-mobile.png") no-repeat;
    order: 1;

    @media (min-width: @bpTablet) {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 545px;
      background-image: url("../img/iphone-hand-tablet.png");
      z-index: -1;
    }

    @media (min-width: @bpDesktop) {
      right: 4px;
      left: auto;
      height: 645px;
      max-width: calc(100% - 150px);
      background-image: url("../img/iphone-hand-desktop.png");
    }
  }

  &--with-bg {
    z-index: 1;
  }

  @media (min-width: @bpTablet) {
    min-height: 619px;
    padding-right: 20px;
    padding-left: 20px;
    background: @baseColor url("../img/bg-back-tablet.jpg") no-repeat;
  }

  @media (min-width: @bpDesktop) {
    min-height: 743px;
    padding-right: 130px;
    padding-left: 130px;
    background: @baseColor url("../img/bg-back-desktop.jpg") no-repeat;
  }
}
