.research {
  position: relative;
  display: none;

  .centered;

  &::before {
    .setBg("", 54px, false, 0, calc(50% - 310px), 238, 276, "../img/icons/timer.svg");
    background-size: contain;

    @media (min-width: @bpDesktop) {
      top: 17px;
      left: calc(50% - 470px);
      width: 298px;
      height: 345px;
    }
  }

  &::after {
    .setBg("24", 110px, false, 0, calc(50% - 291px), 170, 170);
    .resize(font-size, 96, 96, 120);
    font-weight: 700;
    line-height: 163px;
    text-align: center;
    background-color: @lightColor;
    color: @brightColor;
    border: 16px solid @brightColor;
    border-radius: 50%;

    @media (min-width: @bpDesktop) {
      top: 86px;
      left: calc(50% - 447px);
      width: 218px;
      height: 218px;
      line-height: 212px;
      background-color: @bgPrimaryColor;
      border-width: 18px;
    }
  }

  @media (min-width: @bpTablet) {
    display: block;
    padding: 95px 24px 70px 50%;
  }

  @media (min-width: @bpDesktop) {
    padding: 112px 24px 111px calc(50% - 100px);
    background-color: @bgPrimaryColor;
  }
}
